<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title><img class="icon" src="assets/bloom.png" style="align-items: center"> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="imagen" src="assets/cuatro.jpg">
  <ion-textarea color="dark" aling="center" placeholder="Chamarra blanca, MXN499.00"></ion-textarea>
  <ion-button expand="full" color="dark">Insertar nuevo articulo</ion-button>
 <ion-button expand="full" color="dark">Modificar</ion-button>
  <ion-button expand="full" color="dark">Eliminar</ion-button>
  <ion-button expand="full" color="dark">Consultar</ion-button>
 
</ion-content>