<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title center color="black"> <img class="icon" src="assets/bloom.png" style="align-items: center"> </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>


    <br>
    <ion-icon  aling="center" name="heart-empty"> </ion-icon>
    <br>
    <h6 aling="center">Tu lista esta vacia</h6>
    <br>
    <br>
    <br>
    <br>
    <br>
   
    <ion-button expand="full" color="dark" routerLink="/galeria">Regresar</ion-button>


</ion-content>
