<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title center color="black"> <img class="icon" src="assets/bloom.png" style="align-items: center"> </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-title><ion-icon name="pin"></ion-icon>
     Tiendas BLOOM
    </ion-title>
    
    </ion-item>
    <ion-textarea color="dark" aling="center" placeholder="Paseo Durango, Local #31"></ion-textarea>
    <ion-textarea color="dark" aling="center" placeholder="Zona centro #508"></ion-textarea>
</ion-content>
