<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>  <img class="icon" src="assets/bloom.png" style="align-items: center"> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
  <ion-row>
<ion-col>
<img class="imagen" src="assets/tres.jpg"   routerLink="/imgtres"(click)="verImagen()">
<ion-textarea color="dark" aling="center" placeholder="Jersey de rayas, blanco MXN599.00"></ion-textarea>
<img class="imagen" src="assets/siete.jpg" routerLink="/imgsiete" (click)="verImagen()">
<ion-textarea color="dark" aling="center" placeholder="Short blue, MXN299.00"></ion-textarea>
<img clss="imagen" src="assets/seis.jpg"  routerLink="/imgseis"(click)="verImagen()">
<ion-textarea color="dark" aling="center" placeholder="Pantalon blanco, MXN560.00 - Croptop negro MXN450.00 "></ion-textarea>
<img class="imagen" src="assets/dos.jpg" routerLink="/imgdos"(click)="verImagen()">
<ion-textarea color="dark" aling="center" placeholder="Camisa palmeras MXN399.00"></ion-textarea>
<img class="imagen" src="assets/cuatro.jpg" routerLink="/imgcuatro" (click)="verImagen()">
<ion-textarea color="dark" aling="center" placeholder="Chamarra blanca, MXN499.00"></ion-textarea>
<img class="imagen" src="assets/cinco.jpg"  routerLink="/imgcinco"(click)="verImagen()">
<ion-textarea color="dark" aling="center" placeholder="Blusa ovni, negra MXN199.00"></ion-textarea>
<img  class ="imagen" src="assets/chonguitos.jpg" routerLink="/imgchonguitos"(click)="verImagen()">
<ion-textarea color="dark" aling="center" placeholder="Camiseta blanca, MXN200.00"></ion-textarea>



<ion-button expand="full" color="dark" routerLink="/home">Regresar</ion-button>

</ion-col>
</ion-row>
</ion-grid>
</ion-content>
