<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title><img class="icon" src="assets/bloom.png" style="align-items: center"> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="imagen" src="assets/tres.jpg">
  <ion-textarea color="dark" aling="center" placeholder="Jersey de rayas, blanco MXN599.00"></ion-textarea>
  <ion-button expand="full" color="dark"  routerLink="/galeria">Regresar</ion-button>
</ion-content>
