<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title><img class="icon" src="assets/bloom.png" style="align-items: center"> </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <h3>Eliminar producto</h3>
    <ion-item>
      <ion-label position="floating">Nombre:</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    
    <ion-button expand="block" color="dark">Eliminar</ion-button>
    
   
  </ion-content>